<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/SportLeague?useUnicode=true&amp;useJDBCCompliantTimezoneShift=true&amp;useLegacyDatetimeCode=false&amp;serverTimezone=UTC</property>
        <property name="hibernate.connection.username">SportLeagueDatabaseUser</property>
        <property name="hibernate.connection.password">1234</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <mapping class="TablesClasses.Team" resource="Team.hbm.xml"/>
        <mapping class="TablesClasses.AppUser" resource="AppUser.hbm.xml"/>
        <mapping class="TablesClasses.Player" resource="Player.hbm.xml"/>
        <mapping class="TablesClasses.Tournament" resource="Tournament.hbm.xml"/>
        <mapping class="TablesClasses.Match" resource="Match.hbm.xml"/>
        <mapping class="TablesClasses.Scores" resource="Scores.hbm.xml"/>
    </session-factory>
</hibernate-configuration>